body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #e34a33;
}

#console {
  position: absolute;
  height: 320px;
  width: 250px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #e34a33;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Lato, sans-serif;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.my-popup .mapboxgl-popup-content {
  width: 280px;
  border-radius: 25px;
  border: 2px solid #e34a33;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  font-family: Lato, sans-serif;